$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);
$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);

@font-face {
    font-family: Inter;
    src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 15px;
    font-family: Inter, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
nav, main, footer {
    width: 900px;
    // z-index: 1;
}

nav {
    z-index: 2;
    display: flex;
    flex-direction: center;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    img {
        width: 50px;
    }
    .menu--icon, .menu--close {
        display: none;
        &:hover {
            cursor: pointer;
        }
    }
    .menus {
        transition: all 0.5s ease-in-out;
    }
}
ul li {
    display: inline;
    a {
        text-decoration: none;
        color:$Dark-grayish-blue;
        font-size: 0.8rem;
        font-weight: 500;
        margin-left: 20px;
        &:hover {
            color: $Soft-red;
        }
    }
}
main {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));;
    grid-template-rows: repeat(3, minmax(1fr, 250px));
    gap: 20px;
    .image {
        grid-column: 1/3;
        background-image: url("./assets/images/image-web-3-desktop.jpg");
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .web3 {
        grid-row: 2/3;
        grid-column: 1/2;
        h1 {
            font-size: 3rem;
            line-height: 3rem;
            color: $Very-dark-blue;
        }
    }
    .desc {
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        button {
            padding: 13px 40px;
            background-color: $Soft-red;
            color: $Off-white;
            border: none;
            font-size: 0.7rem;
            letter-spacing: 2px;
            &:hover {
                cursor: pointer;
                background-color: $Very-dark-blue;
                color: $Off-white;
            }
        }
        p {
            font-size: 0.8rem;
            line-height: 1.3rem;
            color: $Dark-grayish-blue;
        }
    }
    .news {
        grid-column: 3/-1;
        grid-row: 1/3;
        padding: 18px;
        background-color: $Very-dark-blue;
        color: $Off-white;
        h1 {
            padding: 20px 0;
            color: $Soft-orange;
        }
        .title {
            font-size: 1rem;
            padding-bottom: 10px;
            &:hover {
                color: $Soft-orange;
                cursor: pointer;
            }
        }
        p {
            font-size: 0.8rem;
            font-weight: normal;
            line-height: 1.3rem;
            color: $Grayish-blue;
        }
        hr {
            margin: 20px 0;
            border-top: none;
            color: $Dark-grayish-blue;
        }
    }
}

.ads {
    display: flex;
    flex-direction: row;
    gap: 18px;
    img {
        width: 80px;
        height: 100%;
    }
    .ad--desc {
        h2 {
            color: $Grayish-blue;
        }
        h4 {
            padding: 10px 0;
            color: $Very-dark-blue;
            &:hover {
                color: $Soft-red;
                cursor: pointer;
            }
        }
        p {
            font-size: 0.8rem;
            line-height: 1.3rem;
            color: $Dark-grayish-blue;
        }
    }
}

footer {
    margin-top: 20px;
}

.cover {
    background-color: $Dark-grayish-blue;
    opacity: 0.6;
    z-index: 1;
    width: 100vw;
    position: absolute;
    height: 100vh;
    top: 0;
    display: none;
}

@media screen and (width<=375px) {
    body {
        padding: 18px;
    }
    nav, main, footer {
        width: 100%;
    }
    main {
        grid-template-columns: 1fr;
        grid-auto-rows: max-content;
        .image, .web3, .news, .desc, .ads {
            grid-column: unset;
            grid-row: unset;
        }
        .desc {
            gap: 20px;
            p {
                font-size: 0.9rem;
            }
        }
        .web3 {
            h1 {
                font-size: 2.7rem;
            }
        }
        .news {
            margin: 40px 0;
            p {
                font-size: 0.9rem;
            }
        }
    }
    nav {
        .menu--list {
            display: none;
        }
        .menu--icon {
            display: block;
        }
    }
}
